@import './vendor/normalize/_normalize.scss';
@import './vendor/bootstrap/stylesheets/_bootstrap.scss';
@import './lib/_theme.scss';


body, html {
  width: 100%;
  height: 100%;
  font-family: monospace;
  font-style: italic;
  color: $app-main;

  background-image: url('../pic/versaille.jpg');
  background-size: cover;
  opacity: 0.9;
}

.intro-main {
  font-size: 38px;
}

.nav-ul {
    font-color: red;
}

.image-class {
  color: red;
}