@import './vendor/normalize/_normalize.scss';
@import './vendor/bootstrap/stylesheets/_bootstrap.scss';
@import './lib/_theme.scss';


body {
  float: right;
  width: 80%;
  height: 100%;
  font-family: monospace;
  // font-style: italic;
  color: $app-main;

  background-image: url('../pic/versaille.jpg');
  background-size: cover;
  image-resolution: from-image;
}

.resume-class {
  background: rgba(27, 27, 27, 0.5);
}
.contact-class {
  background: rgba(10, 45, 100, 0.3);
}
.not-found {
  background: rgba(27, 2, 2, 0.6);
}

.intro-main {
  font-size: 38px;
}

.nav-ul {
    font-color: red;
}

.image-class {
  color: red;
}

